/* ====================================
// css variables
// ==================================== */

:root {
}

@font-face {
  font-family: "nuku";
  src: url("../asset/nuku1.woff2");
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary: #be5224;
$white: #ffffff;
$white-hot: #f5e5de;
$dark: #161616;

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background: url(../asset/background.jpg);
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

a.cta {
  position: absolute;
  background: $primary;
  padding: 16px 20px 20px;
  font-family: "nuku";
  color: $white;
  font-size: 27px;
}
